

.my-img-wrapper img{
    width: 100%;
}

#jumbo{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top 0 left 50%;
    height: 550px;
}

#jumbo .my-rules{
    height: 550px;
}

#jumbo .my-img-wrapper img{
    width: 65%;
}

#jumbo .my-content-wrapper{
    height: 550px;
}

#jumbo button{
    border: none;
    border-radius: 50px;
    background-color: #cd3d0f;
}

#main-product button{
    border: none;
    background-color: #2d64e6;
    border-radius: 50px;
}

#main-game{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 50%;
}

#main-game .my-img-wrapper img{
    width: 65%;
}

#main-game button{
    border: none;
    border-radius: 50px;
    background-color: #cd3d0f;
}

#latest-games{
    background-color: #1f1f1f;
}

#other-products button{
    border: none;
    background-color: #2d64e6;
    border-radius: 50px;
}

#playstation-plus{
    background-color: #bebcbb;
}

#playstation-plus button{
    border: none;
    background-color: #d9dadc;
    border-radius: 50px;
}

